.main{
    width: 100vw;
    max-width: 100%;
    background-color: black;
    .upper-part{
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: stretch;
        .left-section{
            max-width: 50%;
            flex-grow: 1;
            .text-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                width: 60%;
                margin: 0 auto;
                .upper-part-text-h1{
                    font-size: 72px;
                }
                .btn{
                    border-radius: 30px;
                    padding: 13px 21px;
                    border: none;
                    font-size: 16px;
                    outline: none;
                    margin-top: 35px;
                    background-color: #4543d9;
                    color: white;
                    &:hover {
                        background-color: #7172da;
                    }
                }
            }
        }
        .right-section{
            max-width: 50%;
            flex-grow: 1;
            background-color: white;
            overflow: hidden;
            .image{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .lower-part{
        width: 100%;
        .discription-wrapper {
            max-width: 1190px;
            margin: 0 auto;
            font-size: 100px;
            padding: 120px 0;
        }
    }
}